.termin {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  // background-color: #cecece;
  // background: linear-gradient(#18305d #fff);
  // background: url(../images/termin.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  padding: 10px 0;

  border-radius: 6px;
  box-shadow: 0px 0px 20px 5px #aba4a4f5;
  h3 {
    color: white;
    // background-color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 95%;
    text-transform: uppercase;
  }

  input {
    width: 95%;
    // margin: 10px;
    // height: 2rem;
  }
  textarea {
    width: 95%;
  }
  .form-submit {
    width: 95%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: #ffaa19;
    color: white;
    font-weight: 700;
    margin: 20px auto;
  }

  .select {
    width: 95%;
    // height: 40px;
  }
  .form-email,
  .form-name,
  .form-time,
  .form-number,
  .select {
    margin: 10px 0;
    height: calc(40px);
    width: 95%;

    // border: 1px solid #ffaa19;
    border-radius: 6px;
  }
  input {
    border: 1px solid #cecece;
    padding-left: 10px;
  }
}
.termin::after,
.termin::before {
  content: '';
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -3;
  background: url(../images/termin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.termin::before {
  background: rgba(0, 0, 0, 1);
  z-index: -1;
}
// CSS for thanks page
.thanks {
  position: relative;
  max-width: 500px;

  width: 98%;
  margin: 10vh auto 0;
  height: 50vh;
  display: flex;

  align-items: center;
  color: white;
  // background: url(../images/termin.jpg);
  border-radius: 6px;
  box-shadow: 0px 0px 20px 5px #aba4a4f5;
  span {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  strong {
    color: #ffaa19;
  }
}
.thanks::after,
.thanks::before {
  content: '';
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -3;
  background: url(../images/termin.jpg);
}
.thanks::before {
  background: rgba(0, 0, 0, 1);
  z-index: -1;
}
